<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>{% if page.full_title %}{{ page.full_title }}{% else %}{% if page.title %}{{ page.title }}-{% endif %}{{ site.title }}{% endif %}</title>
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <meta name="applicable-device" content="pc,mobile">
    <link rel="apple-touch-icon" href="{{ site.url }}/images/assets/8html-icon.jpg">
    <meta name="apple-mobile-web-app-title" content="8HTML">
    <link href="/assets/bootstrap.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="/assets/html5shiv.min.js"></script>
      <script src="/assets/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.url }}">{{ site.title }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="{% if page.category == 'bookmark' %}active{% endif %}"><a href="/index.html">进行中合同</a></li>
            <li class="{% if page.category == 'procedure' %}active{% endif %}"><a href="/procedure/">合同流程</a></li>
            <li class="{% if page.category == 'finish' %}active{% endif %}"><a href="/finish/">已完成合同</a></li>
            <li class="{% if page.category == 'settings' %}active{% endif %}"><a href="/settings/">账号管理</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="content">
      {{ content }}
    </div>
    <hr>
    <p class="container text-center text-muted">Copyright © 2011-2018 {{ site.title }} 保留所有权利</p>
    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
  </body>
</html>